@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
}

.splash {
  height: 100%;
  background-image: url("../img/splash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  /*font-size: 50px;*/
  font-size: 30px;
  height: 3.5em;
  width: 15em;
  background-color: rgba(250, 250, 250, 0.7);
  text-align: center;
  padding: 0.5em;
  position: absolute;
  top: 40px;
  top: 5vw;
  right: 40px;
  right: 5vw;
}

.logo h1, .logo h2, .logo h3 {
  margin: 0;
}

.logo h1, .logo h3 {
  text-transform: uppercase;
}

.logo h1 {
  font-family: 'Droid Serif', serif;
  font-size: 1em;
  letter-spacing: 0.13em;
  line-height: .75em;
  /*margin-bottom: 0.25em;*/
}

.logo h2 {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 0.65em;
  letter-spacing: 0.2em;
  line-height: 1.6em;
  background-color: #F8862E;
  color: white;
  margin-bottom: 0.25em;
  padding: 0em 0.125em;
}

.logo h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.5em;
  letter-spacing: 0.11em;
  line-height: 1em;
}

@media (max-width: 768px) {
  .logo {
    font-size: 5vw;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(250, 250, 250, 0.8);
  }
}

@media (max-height: 555px) {
  .logo {
    background-color: rgba(250, 250, 250, 0.8);
  }
}
